.Form {
    width: 350px;
    height: 520px;
    padding: 15px;
    margin: 10px auto;
    border-radius: 7px;
    background-color: #3ad886;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  
  .Form > * {
    margin: 7px 0;
  }
  .Form > p {
    font-size: 20px;
  }
  
  .form_img_preview {
    width: 320px;
    height: 200px;
    margin: 7px auto;
    background-position: center;
    background-size: cover;
    border: 1px solid #ab2a19;
  }
  
  .Form > input {
    font-family: Open Sans, sans-serif;
    font-weight: 700;
  }
  .Form > input:focus {
    outline: none;
    -webkit-box-shadow: 0 0 10px #719ECE;
            box-shadow: 0 0 10px #719ECE;
    border: 1px solid #ab2a19;
  }
  
  .form_button_box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  
  .form_button_box > button {
    padding: 10px;
    margin: 5px 10px;
    background-color: #ed6b5a;
    border-radius: 7px;
    border: none;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    font-size: 16px;
  }
  
  @media (min-width: 500px) {
    .Form {
      width: 450px;
    }
  }
  
  @media (min-width: 830px) {
    .Form {
      position: fixed;
      left: 45.5vw;
      top: 150px;
    }
  }
  
  @media (min-width: 1000px) {
    .Form {
      left: 53vw;
    }
  }
  
  @media (min-width: 1200px) {
    .Form {
      left: 57vw;
    }
  }
  
  @media (min-width: 1400px) {
    @media (min-height: 950px) {
      .Form {
        width: 550px;
        height: 620px;
      }
      .form_img_preview {
        width: 420px;
        height: 300px;
      }
    }
  }