.Dash {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}
.Dash > * {
  margin: 10px 0;
}

@media (min-width: 830px) {
  .Dash {
    width: 375px;
  }
}
@media (min-width: 1000px) {
  .Dash {
    width: 475px;
    margin-left: 5vw;
  }
}
@media (min-width: 1200px) {
  .Dash {
    width: 50%;
  }
}